<div class="container-fluid p-0">
    <div class="row ">
        <div class="col-md-8">
            <ul class="navbar2">
                <li class="navbar3"><a href="">Home</a></li>
                <li class="navbar3"><a href="">About-Us</a></li>
                <li class="navbar3"><a routerLink="tabledata">TablesData</a></li>
                <li class="navbar3"><a href="">Contact-us</a></li>

            </ul>
        </div>
        <div class="col-md-4 searchbox">
            <input  type="text"   [(ngModel)]="searchTerm" (keyup)="filterEmployeeList()" placeholder="Enter FirstName to Search" />
            <ul *ngIf="filteredResult.length>0">
                <li *ngFor="let c of filteredResult" >
                    <span>{{c.firstname}} {{c.lastname}}</span>
                </li>
            </ul> 
        </div>
    </div>

  
 

           
            
    
</div>
<!-- <app-hero-section></app-hero-section> -->

